<div class="bg-gradient-secondary vh-100">
    <div class="container align-items-center py-5">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Registrar Cuenta!</h1>
                            </div>
                            <div class="user">

                                <div class="form-group row">
                                    <div class="col-sm-11 mb-3 mb-sm-0 d-inline-flex align-items-center">
                                        <label for="Name_Lastname">Nombre de Usuario:</label>
                                        <input type="text" class="form-control form-control-user" id="Name_Lastname"
                                        placeholder="Nombres y Apellidos" required="required" [(ngModel)]="obj_usuario.nombre">
                                        <span class="span-alert" *ngIf="validate_name == false">Inserte un Nombre Valido.</span>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0 d-inline-flex align-items-center">
                                        <label for="InputTel">Número de telefono:</label>
                                        <input type="tel" class="form-control form-control-user" id="InputTel"
                                            placeholder="+57 - Número de Celular" minlength="10" maxlength="10" 
                                            [(ngModel)]="obj_usuario.telefono">
                                        <span class="span-alert" *ngIf="validate_tel == false">Inserte un Telefono Valido.</span>
                                    </div>
                                    <div class="col-sm-3 mb-3 mb-sm-0 align-self-center align-items-center form-floating">
                                        <label for="selec_rol">Rol:</label>
                                        <select class="form-select form-select-lg form-control-user pt-4" required="required" id="selec_rol" [(ngModel)]="obj_usuario.FO_rol">
                                            <option *ngFor="let itemR of rol" value="{{itemR.id_rol}}">{{itemR.rol}}</option>
                                        </select>
                                          
                                          <span class="span-alert" *ngIf="validate_rol == false">Selecciona un Rol.</span>
                                    </div>
                                    <div class="col-sm-2 mb-3 mb-sm-0 align-self-center align-items-center form-floating">
                                        <label for="selec_box">Caja:</label>
                                        <select class="form-select form-select-lg form-control-user pt-4" id="selec_box" [(ngModel)]="obj_usuario.caja">
                                            <option value="0" selected>0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                          </select>
                                          <span class="span-alert" *ngIf="validate_box == false">Selecciona una Caja.</span>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-11 mb-3 mb-sm-0 d-inline-flex align-items-center">
                                        <label for="InputEmail">Dirección de correo electrónico:</label>
                                        <input type="email" class="form-control form-control-user" id="InputEmail"
                                        placeholder="tucorreo@mail.com" required="required" [(ngModel)]="obj_usuario.correo">
                                        <span class="span-alert" *ngIf="validate_email == false">Inserte un Correo Valido.</span>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-11 mb-3 mb-sm-0 d-inline-flex align-items-center">
                                        <label for="InputPassword">Contraseña de Usuario:</label>
                                        <input type="password" class="form-control form-control-user" id="InputPassword"
                                        placeholder="********" max="12" required="required" [(ngModel)]="obj_usuario.contrasenia">
                                        <span class="span-alert" *ngIf="validate_pass == false">Inserte una contraseña valida.</span>
                                    </div>
                                </div>
                                
                                <a [routerLink]="['/register']" class="btn btn-primary-alt btn-user btn-block" (click)="validar_info()">
                                    Registrar Cuenta
                                </a>
                                <br>
                                <a [routerLink]="['/user']" class="btn btn-outline-warning btn-user btn-block" (click)="limpiar()">
                                    Cancelar registro
                                </a>
                            </div>
                            <hr>
                            <div class="text-center">
                                <a class="small" [routerLink]="['/login']">Ya tienes una Cuenta? Inicia Sesión!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>