<div class="bg-gradient-secondary vh-100">
    <div class="container">

        <!-- Outer Row -->
        <div class="row align-items-center justify-content-center vh-100">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-2">¿Olvidaste tu contraseña?</h1>
                                        <p class="mb-4">Te entendemos, a veces sucede. ¡Solo debes ingresar tu dirección
                                            de
                                            correo electrónico en el campo en blanco y te enviaremos un enlace para que
                                            restablescas tu contraseña!</p>
                                    </div>
                                    <div class="user">
                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-user"
                                            id="exampleInputEmail" aria-describedby="emailHelp"
                                            placeholder="Ingresa tu dirección de correo electrónico..." required minlength="9"
                                            maxlength="45" [(ngModel)]="dato" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}">
                                            <span class="span-alert" *ngIf="validate_email == false">Ingresa una dirección de correo electrónico.</span>
                                        </div>
                                        <a class="btn btn-primary-alt btn-user btn-block" data-bs-toggle="modal" data-bs-target="#resetpass" (click)="busqueda(dato)">
                                            Restablecer Contraseña
                                        </a>
                                    </div>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" [routerLink]="['login']">Ya tienes una Cuenta? Inicia Sesión!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        
        <!-- Modal para restaurar contraseña -->
        <div class="modal fade" id="resetpass" tabindex="-1" aria-labelledby="descripcionLabel" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-sm pt-5">
              <div class="modal-content">
                <div class="modal-header">
                  <h3 class="modal-title fs-3 text-wrap" id="descripcionLabel">Restaura tu contraseña a continuación.</h3>
                  <button type="button" class="btn btn-danger btn-close btn-half-block" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <h4 *ngIf="most_mess == true">{{mensaje}}</h4>
                    
                    <!-- Formulario de cambio de contraseña -->
                    <div class="row mb-4" *ngIf="most_chg == true">
                        <div class="col-sm-12 mb-3 mb-sm-0 d-inline-flex align-items-center">
                            <div class="card mb-4 col-sm-12 mb-3 mb-sm-0">
                                <div class="card-body">
                                    <div class="form-group row">
                                        <div class="col-sm-12 mb-3 mb-sm-0 d-inline-flex align-items-center">
                                            <label for="Name_Lastname">Nombre de Usuario:</label>
                                            <p class="form-control form-control-user mt-3" id="producto_stock">
                                                {{obtenido[0][1]}}
                                            </p>
                                        </div>
                                    </div>
                    
                                    <div class="form-group row">
                                        <div class="col-sm-12 mb-3 mb-sm-0 align-items-center">
                                            <label for="InputPassword">Nueva Contraseña:</label>
                                            <input type="password" class="form-control form-control-user" id="InputPassword"
                                            placeholder="********" minlength="6" maxlength="12" required="required" [(ngModel)]="pass">
                                            <span class="span-alert" *ngIf="validate_pass == false">Inserte una contraseña valida.</span>
                                        </div>
                                    </div>
                
                                    <div class="form-group row align-self-center align-items-center">
                                        <div class="col-sm-6 mb-3 mb-sm-0 d-inline-flex align-items-center">
                                            <a class="btn btn-primary-alt btn-user btn-block" (click)="validar_info()">
                                                Guardar Cambios
                                            </a>
                                        </div>
                                        <div class="col-sm-6 mb-3 mb-sm-0 d-inline-flex align-items-center">
                                            <a class="btn btn-outline-warning btn-user btn-block" data-bs-dismiss="modal" (click)="mostrar_edit('ocultar')">
                                                Cancelar Cambios
                                            </a>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-12 mb-3 mb-sm-0 align-items-center" *ngIf="confirm == false">
                                            <!-- terminar el mensaje de redireccion --> 
                                            <h6 class="text-success text-wrap text-center" id="descripcionLabel">
                                                <strong>Contraseña almacenada exitosamente. ¡Ya puedes Iniciar Sesión!</strong></h6>
                                            <a class="medium text-wrap text-center ps-3" [routerLink]="['login']" data-bs-dismiss="modal"><strong>¡Pulsa aquí para Iniciar Sesión!</strong></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                </div>
              </div>
            </div>
          </div>

    </div>
</div>