<div class="container">

    <!-- Outer Row -->
    <div class="row align-items-center justify-content-center vh-100">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-2">¿Olvidaste tu contraseña?</h1>
                                    <p class="mb-4">Te entendemos, a veces sucede. ¡Solo debes ingresar tu dirección de
                                        correo electrónico en el campo en blanco y te enviaremos un enlace para que
                                        restablescas tu contraseña!</p>
                                </div>
                                <form class="user">
                                    <div class="form-group">
                                        <input type="email" class="form-control form-control-user"
                                            id="exampleInputEmail" aria-describedby="emailHelp"
                                            placeholder="Ingresa tu dirección de correo electrónico...">
                                    </div>
                                    <a href="login" class="btn btn-primary-alt btn-user btn-block">
                                        Restablecer Contraseña
                                    </a>
                                </form>
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="register">Registrar Cuenta!</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" href="login">Ya tienes una Cuenta? Inicia Sesión!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>