<div class="bg-gradient-tertiary">
    <div class="container">
        <!-- Outer Row -->
        <div class="row align-items-center justify-content-center vh-100">
            <!-- 404 Error Text -->
            <div class="text-center">
                <div class="error mx-auto" data-text="404">404</div>
                <p class="lead text-gray-900 mb-5">¡Página No Encontrada!</p>
                <p class="text-gray-700 mb-0">No se encuentra una coincidencia para la busqueda indicada...</p>
                <a href="index.html">&larr; ¡Volver al Dashboard!</a>
            </div>
        </div>
    </div>
</div>