<div class="bg-gradient-secondary">
    <div class="container">

        <!-- Outer Row -->
        <div class="row align-items-center justify-content-center vh-100">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h5 class="text-gray-900 mb-4">
                                            <div class="sidebar-brand-text mx-2">
                                                <i>
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" height="16" width="16">
                                                        <path fill="#1e2916" 
                                                        d="M94.1 315.1c0 25.9-21.2 47.1-47.1 47.1S0 341 0 315.1c0-25.9 21.2-47.1 47.1-47.1h47.1v47.1zm23.7 0c0-25.9 21.2-47.1 47.1-47.1s47.1 21.2 47.1 47.1v117.8c0 25.9-21.2 47.1-47.1 47.1s-47.1-21.2-47.1-47.1V315.1zm47.1-189c-25.9 0-47.1-21.2-47.1-47.1S139 32 164.9 32s47.1 21.2 47.1 47.1v47.1H164.9zm0 23.7c25.9 0 47.1 21.2 47.1 47.1s-21.2 47.1-47.1 47.1H47.1C21.2 244 0 222.8 0 196.9s21.2-47.1 47.1-47.1H164.9zm189 47.1c0-25.9 21.2-47.1 47.1-47.1 25.9 0 47.1 21.2 47.1 47.1s-21.2 47.1-47.1 47.1h-47.1V196.9zm-23.7 0c0 25.9-21.2 47.1-47.1 47.1-25.9 0-47.1-21.2-47.1-47.1V79.1c0-25.9 21.2-47.1 47.1-47.1 25.9 0 47.1 21.2 47.1 47.1V196.9zM283.1 385.9c25.9 0 47.1 21.2 47.1 47.1 0 25.9-21.2 47.1-47.1 47.1-25.9 0-47.1-21.2-47.1-47.1v-47.1h47.1zm0-23.7c-25.9 0-47.1-21.2-47.1-47.1 0-25.9 21.2-47.1 47.1-47.1h117.8c25.9 0 47.1 21.2 47.1 47.1 0 25.9-21.2 47.1-47.1 47.1H283.1z"/>
                                                    </svg>
                                                </i>
                                                VCI Admin 
                                                <sup>0.0.7</sup>
                                            </div>
                                        </h5>
                                    </div>
                                    <div class="text-center">
                                        <h1 class="h2 text-gray-900 mb-4">INICIO DE SESIÓN</h1>
                                    </div>
                                    <form class="user">
                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-user"
                                                id="exampleInputEmail" aria-describedby="emailHelp"
                                                placeholder="Ingresa tu dirección de Email..." [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
                                                <span class="span-alert" *ngIf="log_error == false">Inserte un Correo Valido.</span>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user"
                                                id="exampleInputPassword" placeholder="Ingresa tu contraseña..." [(ngModel)]="passwd" [ngModelOptions]="{standalone: true}">
                                                <span class="span-alert" *ngIf="log_error == false">Inserte una contraseña valida.</span>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="customCheck">
                                                <label class="custom-control-label ps-2" for="customCheck">Recordar usuario</label>
                                            </div>
                                        </div>
                                        <a class="btn btn-primary-alt btn-user btn-block" (click)="consulta('')">
                                            Acceder</a>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" [routerLink]="['forgot-password']">Olvidaste tu Contraseña?</a>
                                    </div>
                                    <!-- <div class="text-center">
                                        <a class="small" [routerLink]="['register']">Crear Cuenta!</a>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>