
<div class="bg-gradient-second-section">
<div class="container align-items-center py-5">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-9">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">¡Registra una nueva Orden de Suministros!</h1>
                        </div>

                        <div class="user">

                            <div class="form-group row">
                                <div class="col-sm-3 mb-3 mb-sm-0 d-inline-flex align-items-center">
                                    <label for="id_orden">Número de Orden:</label>
                                    <input type="number" class="ms-2 form-control form-control-user text-wrap text-danger" id="id_orden"
                                    placeholder="4234" defaultValue="{{maximo+1}}" min="{{maximo+1}}" [(ngModel)]="obj_compra.id_compra">
                                    <span class="span-alert" *ngIf="validate_fac == false">Inserte un número de orden.</span>
                                </div>
                                <div class="col-sm-5 mb-sm-0 mb-3 align-self-center align-items-center form-floating">
                                    <label for="selec_prov">Proveedor:</label>
                                    <select class="form-select form-select-lg" id="selec_prov" aria-label="Floating label select example" 
                                    [(ngModel)]="obj_compra.FO_proveedor">
                                        <option *ngFor="let item of proveedor" value="{{item.id_proveedor_nit}}">{{item.razon_social}}</option>
                                    </select>
                                    <span class="span-alert" *ngIf="validate_prov == false">Selecciona un proveedor.</span>
                                </div>
                                <div class="col-sm-4 mb-3 mb-sm-0 d-inline-flex align-items-center">
                                    <label for="fecha_adq">Fecha de adquisición:</label>
                                    <input type="date" class="form-control form-control-user" id="fecha_adq"
                                    placeholder="01-01-2024" min="01-01-2000" [(ngModel)]="obj_compra.fecha_adq">
                                    <span class="span-alert" *ngIf="validate_fecha == false">Indica una fecha valida.</span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-5 mb-3 mb-sm-0 d-inline-flex align-items-center">
                                    <label for="l_productos">Descrp. de Producto:</label>
                                    <input type="text" class="form-control form-control-user" id="l_productos"
                                    placeholder="Arequipe pote 125gr Alpina, Manzana 1Kg Chilena" 
                                    [(ngModel)]="nombre">
                                    <span class="span-alert" *ngIf="validate_prod == false">Ingresa al menos un producto.</span>
                                </div>
                                <div class="col-sm-3 mb-3 mb-sm-0 d-inline-flex align-items-center">
                                    <label for="cantidad_productos">Cantidad de suministro:</label>
                                    <input type="number" class="form-control form-control-user" id="cantidad_productos"
                                    placeholder="10, 50, 13" min="1" 
                                    [(ngModel)]="cantidad">
                                    <span class="span-alert" *ngIf="validate_cant == false">Ingresa las cantidades de los suministros.</span>
                                </div>
                                <div class="col-sm-3 mb-3 mb-sm-0 d-inline-flex align-items-center">
                                    <label for="costo_productos">Costo de suministro:</label>
                                    <input type="number" class="form-control form-control-user" id="costo_productos"
                                    placeholder="3800, 4800, 23000" min="1"
                                    [(ngModel)]="precio_p">
                                    <span class="span-alert" *ngIf="validate_precio == false">Ingresa los costos de los suministros.</span>
                                </div>
                                <div class="col-sm-1 mb-3 mb-sm-0 d-inline-flex align-items-center">
                                    <div class="sb-nav-link-icon">
                                        <i class="ms-1 me-1" style="cursor:pointer" title="Agregar" (click)="validar_prod()">
                                            <svg xmlns="http://www.w3.org/2000/svg" height="40" width="40" viewBox="0 0 512 512">
                                                <path 
                                                d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM232 344V280H168c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H280v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"/>
                                            </svg>
                                        </i>
                                    </div>
                                </div>
                            </div>

                            <!-- Lista de Suministros compra-->
                            <div class="form-group row">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-table me-1"></i>
                                        Lista de Productos.
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered" id="dataTableProduct" width="100%" cellspacing="0">
                                                <thead class="table-info">
                                                    <tr>
                                                        <th>Producto</th>
                                                        <th>Cantidad</th>
                                                        <th>Precio</th>
                                                        <th>SubTotal</th>
                                                    </tr>
                                                </thead>
                                                <tfoot class="table-dark">
                                                    <tr>
                                                        <th>Producto</th>
                                                        <th>Cantidad</th>
                                                        <th>Precio</th>
                                                        <th>SubTotal</th>
                                                    </tr>
                                                </tfoot>
                                                <tbody>
                                                    <tr *ngFor="let itemp of lista_sumin">
                                                        <td>{{itemp[0]}}</td>
                                                        <td>{{itemp[1]}}</td>
                                                        <td>{{itemp[2] | currency}}</td>
                                                        <td>{{itemp[3] | currency}}</td>
                                                        <td>
                                                            <div class="sb-nav-link-icon">
                                                                <i class="mx-1" style="cursor:pointer" title="Quitar" (click)="quitar_prd(itemp)">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 384 512">
                                                                        <path 
                                                                        d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/>
                                                                    </svg>
                                                                </i>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row align-items-center">
                                <div class="col-sm-4 mb-3 mb-sm-0 d-inline-flex align-self-center align-items-center form-floating">
                                    <label for="subtotalv">SubTotal:</label>
                                    <p class="form-control form-control-user pt-4" id="subtotalv">
                                        {{subtotal | currency}}
                                    </p>
                                </div>
                                <div class="col-sm-4 mb-3 mb-sm-0 d-inline-flex align-self-center align-items-center form-floating">
                                    <label for="impuestosv">Impuestos:</label>
                                    <p class="form-control form-control-user pt-4" id="impuestosv">
                                        {{impuestos | currency}}
                                    </p>
                                </div>
                                <div class="col-sm-4 mb-3 mb-sm-0 d-inline-flex align-self-center align-items-center form-floating">
                                    <label for="totalv">Total:</label>
                                    <p class="form-control form-control-user pt-4" id="totalv">
                                        {{total_v | currency}}
                                    </p>
                                </div>
                            </div>

                            <div class="form-group row align-self-center align-items-center">
                                <div class="col-sm-6 mb-3 mb-sm-0 d-inline-flex align-items-center">
                                    <a class="btn btn-primary-alt btn-user btn-block" (click)="validar_info()">
                                        Registrar Compra
                                    </a>
                                </div>
                                <div class="col-sm-6 mb-3 mb-sm-0 d-inline-flex align-items-center">
                                    <a [routerLink]="['/purchase']" class="btn btn-outline-warning btn-user btn-block" (click)="limpiar()">
                                        Cancelar Registro
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 d-none d-lg-block bg-purchase-image"></div>
            </div>
        </div>
    </div>
</div>
</div>
