<!-- Page Wrapper -->
<app-topbar></app-topbar>
<!-- Begin Sidebar - Page Main Content -->
<div id="layoutSidenav">
    <!-- Sidebar -->
    <app-nav></app-nav>
    <!-- Main content -->
    <div id="layoutSidenav_content">
        <!-- Page Heading -->
        <main>
            <!-- Dashboard -->
        <router-outlet></router-outlet>
            <!-- End Dashboard -->
        </main>
        <!--hr class="sidebar-divider">
        <!-- End Page Heading -->
        <!-- Footer -->
        <app-footer></app-footer>
        <!-- End Footer -->
    </div>
</div>
<!-- End Sidebar - Page Main Content -->

<!-- End Page Wrapper -->