<!-- Page Heading -->
    <div class="container-fluid bg-gradient-third-section p-4">
        <h1 class="pt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Gestiona integralmente todas las operaciones de tu negocio.</li>
        </ol>
        <div class="row">
            <div class="col-xl-3 col-md-6" *ngIf="rol == 'Vendedor' || FO_rol == 3 || FO_rol == 4">
                <div class="card bg-success strong text-white mb-4">
                    <div class="card-body">Ventas</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="strong text-white stretched-link" [routerLink]="['/sale']">Ir a...</a>
                        <div class="strong text-white">
                            <i class="fas fa-angle-right"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card bg-primary strong text-white mb-4">
                    <div class="card-body">Inventario</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="strong text-white stretched-link" [routerLink]="['/product']">Ir a...</a>
                        <div class="strong text-white">
                            <i class="fas fa-angle-right"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6" *ngIf="FO_rol == 3 || FO_rol == 4">
                <div class="card bg-warning strong text-dark mb-4">
                    <div class="card-body">Usuarios</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="strong text-dark stretched-link" [routerLink]="['/user']">Ir a...</a>
                        <div class="strong text-dark">
                            <i class="fas fa-angle-right"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6" *ngIf="rol == 'Gestor de Bodega' || FO_rol == 3 || FO_rol == 4">
                <div class="card bg-danger strong text-white mb-4">
                    <div class="card-body">Suministros</div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="strong text-white stretched-link" [routerLink]="['/purchase']">Ir a...</a>
                        <div class="strong text-white">
                            <i class="fas fa-angle-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="me-1">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" height="25" width="25">
                                <path 
                                d="M64 0C46.3 0 32 14.3 32 32l0 64c0 17.7 14.3 32 32 32l80 0 0 32-57 0c-31.6 0-58.5 23.1-63.3 54.4L1.1 364.1C.4 368.8 0 373.6 0 378.4L0 448c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-69.6c0-4.8-.4-9.6-1.1-14.4L488.2 214.4C483.5 183.1 456.6 160 425 160l-217 0 0-32 80 0c17.7 0 32-14.3 32-32l0-64c0-17.7-14.3-32-32-32L64 0zM96 48l160 0c8.8 0 16 7.2 16 16s-7.2 16-16 16L96 80c-8.8 0-16-7.2-16-16s7.2-16 16-16zM64 432c0-8.8 7.2-16 16-16l352 0c8.8 0 16 7.2 16 16s-7.2 16-16 16L80 448c-8.8 0-16-7.2-16-16zm48-168a24 24 0 1 1 0-48 24 24 0 1 1 0 48zm120-24a24 24 0 1 1 -48 0 24 24 0 1 1 48 0zM160 344a24 24 0 1 1 0-48 24 24 0 1 1 0 48zM328 240a24 24 0 1 1 -48 0 24 24 0 1 1 48 0zM256 344a24 24 0 1 1 0-48 24 24 0 1 1 0 48zM424 240a24 24 0 1 1 -48 0 24 24 0 1 1 48 0zM352 344a24 24 0 1 1 0-48 24 24 0 1 1 0 48z"/>
                            </svg>
                        </i>
                        Detalles de Ventas e Inventario.
                    </div>
                    <div class="card-body">
                        <!-- llenar con info de ventas y productos -->
                        <div class="form-group row">
                            <div class="col-sm-12 mb-3 px-3 mb-sm-0 d-inline-flex align-items-center">
                                <label for="ultima_venta">Ultima Venta realizada:</label>
                                <p class="ms-3 form-control form-control-user mt-3 text-danger" id="ultima_venta">
                                <strong>{{last_v}}</strong>
                                </p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12 mb-3 px-3 mb-sm-0 d-inline-flex align-items-center">
                                <label for="total_venta">Total general de ventas:</label>
                                <p class="ms-3 form-control form-control-user mt-3 text-success" id="total_venta">
                                <strong>{{total_ventas | currency}}</strong>
                                </p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12 mb-3 px-3 mb-sm-0 d-inline-flex align-items-center">
                                <label for="producto_cant">Productos registrados:</label>
                                <p class="ms-3 form-control form-control-user mt-3 text-primary" id="producto_cant">
                                <strong>{{conteo}}</strong>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="me-1">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" height="25" width="25">
                                <path 
                                d="M64 32C28.7 32 0 60.7 0 96L0 416c0 35.3 28.7 64 64 64l448 0c35.3 0 64-28.7 64-64l0-320c0-35.3-28.7-64-64-64L64 32zm80 256l64 0c44.2 0 80 35.8 80 80c0 8.8-7.2 16-16 16L80 384c-8.8 0-16-7.2-16-16c0-44.2 35.8-80 80-80zm-32-96a64 64 0 1 1 128 0 64 64 0 1 1 -128 0zm256-32l128 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-128 0c-8.8 0-16-7.2-16-16s7.2-16 16-16zm0 64l128 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-128 0c-8.8 0-16-7.2-16-16s7.2-16 16-16zm0 64l128 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-128 0c-8.8 0-16-7.2-16-16s7.2-16 16-16z"/>
                            </svg>
                        </i>
                        Detalles de Empleados.
                    </div>
                    <div class="card-body">
                        <!-- llenar con info de empleados -->
                        <div class="form-group row">
                            <div class="col-sm-12 mb-3 px-3 mb-sm-0 d-inline-flex align-items-center">
                                <label for="vendedores">Usuarios Vendedor:</label>
                                <p class="ms-3 form-control form-control-user mt-3 text-secondary" id="vendedores">
                                <strong>{{conteo_v}}</strong>
                                </p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12 mb-3 px-3 mb-sm-0 d-inline-flex align-items-center">
                                <label for="gestores">Usuarios Gestor de bodega:</label>
                                <p class="ms-3 form-control form-control-user mt-3 text-secondary" id="gestores">
                                <strong>{{conteo_b}}</strong>
                                </p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12 mb-3 px-3 mb-sm-0 d-inline-flex align-items-center">
                                <label for="soportes">Usuarios Soporte técnico:</label>
                                <p class="ms-3 form-control form-control-user mt-3 text-secondary" id="soportes">
                                <strong>{{conteo_s}}</strong>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="me-1">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" height="25" width="25">
                                <path 
                                d="M253.3 35.1c6.1-11.8 1.5-26.3-10.2-32.4s-26.3-1.5-32.4 10.2L117.6 192 32 192c-17.7 0-32 14.3-32 32s14.3 32 32 32L83.9 463.5C91 492 116.6 512 146 512L430 512c29.4 0 55-20 62.1-48.5L544 256c17.7 0 32-14.3 32-32s-14.3-32-32-32l-85.6 0L365.3 12.9C359.2 1.2 344.7-3.4 332.9 2.7s-16.3 20.6-10.2 32.4L404.3 192l-232.6 0L253.3 35.1zM192 304l0 96c0 8.8-7.2 16-16 16s-16-7.2-16-16l0-96c0-8.8 7.2-16 16-16s16 7.2 16 16zm96-16c8.8 0 16 7.2 16 16l0 96c0 8.8-7.2 16-16 16s-16-7.2-16-16l0-96c0-8.8 7.2-16 16-16zm128 16l0 96c0 8.8-7.2 16-16 16s-16-7.2-16-16l0-96c0-8.8 7.2-16 16-16s16 7.2 16 16z"/>
                            </svg>
                        </i>
                        Detalles de los Suministros.
                    </div>
                    <div class="card-body">
                        <!-- llenar con info de compras -->
                        <div class="form-group row">
                            <div class="col-sm-12 mb-3 px-3 mb-sm-0 d-inline-flex align-items-center">
                                <label for="ultima_compra">Ultima orden de suministros:</label>
                                <p class="ms-3 form-control form-control-user mt-3 text-danger" id="ultima_compra">
                                <strong>{{last_c}}</strong>
                                </p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12 mb-3 px-3 mb-sm-0 d-inline-flex align-items-center">
                                <label for="compra_fecha">Fecha de la ultima orden:</label>
                                <p class="ms-3 form-control form-control-user mt-3 text-primary" id="compra_fecha">
                                <strong>{{last_date_c}}</strong>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>